// Styling the hero section
.hero {
    // @include b-right;
    &__container {
        padding: 20px;
        &:hover {
                color: $blue;
            }
    }
    h1 {
        font-family: 'DM Serif Display', serif;
        // margin-bottom: 10px;
    }
    p {
        margin-bottom: 30px;
    }
}

@include for-tablet-landscape-up {
    .hero {
        width: 60%;
        @include b-right;
        &__container {
            padding-top: 50px;
            height: 400px;
        }
    }
}
@include for-desktop-up {
    .hero {
        // width: 60%;
        height: 500px;
        &__container {
            // padding: 20px;
            // width: 90%;
            padding: 100px 50px;
            h1 {
                line-height: 1;
            }
            // align-self: flex-start;
        }
    }
}
@include for-big-desktop-up {
    .hero {
        width: 70%;
    }
}

// About me section
.about {
    &__container:hover {
        color: $blue
    }
}

@include for-tablet-portrait-up {
    .about {
        @include b-top;
        padding: 20px;
        &__text {
            & p:nth-child(3) {
                margin-bottom: 20px;
            }
        }
    }
}

@include for-tablet-landscape-up {
    .about {
        width: 80%;
        @include b-right;
    }
}
@include for-desktop-up {
    .about {
        padding: 0;
        height: 400px;
        &__title {
            margin-bottom: 30px;
        }
        &__container {
            padding: 50px 50px;
        }
    }
}

// Styling the skills, projects, contact sections


.projects__title {
    a {
        font-size: clamp(1.2rem, 5vw, 5rem);
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
}
@include for-phone-only {
    .other__sections {
        text-align: center;
        margin: 20px 0;
        @include b-bottom;
    }
    .skills {
        margin-bottom: 10px;
    }
    .projects {
        margin-bottom: 10px;
        border: 1px solid;
        padding: 10px 20px;
    }
    .contact {
        margin-bottom: 10px;
    }
}

@include for-tablet-portrait-up {
    .other__sections {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3, 1fr);
        @include b-top;
        @include b-bottom;
    }
    .projects {
        grid-column: 2/3;
        grid-row: 1/4;
        @include b-left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skills {
        grid-column: 1/2;
        grid-row: 1/3;
        @include b-bottom;
        padding: 20px;
        &__title:hover {
                color: $blue;
            }
        li:hover {
                color: $blue;
        }
    }
    .contact {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 20px;
        align-self: center;
        &:hover {
                color: $blue;
            }
    }
}

@include for-tablet-landscape-up {
    .other__sections {
        height: 400px;
    }
}

@include for-desktop-up {
    .other__sections {
        height: 600px;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3, 1fr)
    }
    .skills {
        padding: 30px 50px;
        li {
            margin: 10px 0;
        }
    }
    .contact {
        padding: 30px 50px;
    }
}

// Styling the footer section
.footer {
    font-size: .8rem;
    font-weight: 300;
}

@include for-tablet-portrait-up {
    .footer {
        padding: 10px 20px;
    }
}

@include for-tablet-landscape-up {
    .footer {
        padding: 0;
        &__container {
            display: grid;
            grid-template-columns: 30% 1fr 20%;
            text-align: center
        }
        &__note {
            @include b-right;
            @include b-left;
            padding: 0 20px;
        }
    }
}